# FastAPI, python, venv
.idea
backend/.ipynb_checkpoints
backend/.mypy_cache
.vscode
**/__pycache__
backend/__pycache__
backend/.pytest_cache
backend/htmlcov
backend/dist
backend/site
backend/.coverage
backend/coverage.xml
backend/.netlify
backend/test.db
backend/log.txt
backend/Pipfile.lock
backend/env3.*
backend/env
backend/docs_build
backend/venv/
backend/docs.zip
backend/archive.zip
backend/*.pyc
backend/*.pyo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.ipynb_checkpoints/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# vim temporary files
*~
.*.sw?

backend/tests/.pytest_cache
backend/pytest_cache
backend/**pytest_cache

# React

# dependencies
frontend/node_modules/

frontend/.pnp
frontend/.pnp.js

# testing
frontend//coverage

# production
frontend//build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
